apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hapi-postgres-pvc
  namespace: datacluster
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
